[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Dorlin
	email = theo@dorlin.fr
[gui]
	recentrepo = C:/Users/Lenovo-x1/Documents/GitHub/mirmoc
